VITE_API_URL=https://api.iron-x.com/api/v1
VITE_APP_BASENAME=/

# Firebase
VITE_FIREBASE_API_KEY=AIzaSy...
VITE_FIREBASE_AUTH_DOMAIN=ironx-640b2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ironx-640b2
VITE_FIREBASE_STORAGE_BUCKET=ironx-640b2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=328614818720
VITE_FIREBASE_APP_ID=1:328614818720:web:d1dadcc2d44c44237e2ac5
VITE_FIREBASE_MEASUREMENT_ID=G-M48YB84C8K
